body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../preload.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapbox-logo {
    display: none !important;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}

left {
    left: 0;
    width: 25%;
}

.map-overlay h5,
.map-overlay p {
    color: white;
    margin: 2px;
}

.global-confirmed,
.country-confirmed,
.covid-chart,
.death-recovered {
    background: black;
    opacity: 0.8;
    padding: 10px;
    color: white;
}

.global-confirmed-number {
    color: red;
    font-size: 3vw;
    padding: 20px 0;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: rgb(236, 222, 239);
    background: linear-gradient(90deg, rgba(236, 222, 239, 0) 0%, rgba(208, 209, 230, 1) 19%, rgba(255, 228, 51, 1) 52%, rgba(199, 99, 0, 1) 77%, rgba(199, 0, 13, 1) 100%);
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

#stat {
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #FFF;
    z-index: 1000;
}

#container {
    height: 100%;
    width: 100%;
}

.country-confirmed,
.country-death-recovered {
    margin-top: 5px;
    overflow-y: auto;
}

.country-confirmed {
    height: 250px;
}

.country-death-recovered {
    height: 150px;
}

.country-confirmed-number div,
.country-death-recovered div {
    text-align: right;
    padding: 5px 20px;
    font-size: 16px;
}

.country-confirmed-number div {
    border-bottom: 1px white solid;
}

.country-death-recovered div {
    border-bottom: 1px grey solid;
}

.country-confirmed-number span {
    color: red;
    font-weight: bold;
}

.right {
    width: 30%;
    right: 10px;
    bottom: 10px;
}

.covid-chart {
    margin-top: 5px;
    height: 250px;
}

span.recovered {
    color: green;
}

.global-death-recovered span {
    font-size: 2vw;
}

.slider {
    background: white;
    opacity: 0.6;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    text-align: left;
}

.slider h3,
.slider p {
    color: black;
    padding: 5px 20px 0;
}

.slider h3 {
    font-size: 18px;
}